:root {
  --white-color: #F6F1F1;
  --black-color: #000000;
  --primary-color: #19A7CE;
  --secondary-color: #146C94;
}

html {
  height: 100%;
}

body {
  font-family: 'Open sans';

  margin: 4vh 20%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background: #ededed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px rgba(0, 0, 0, .4) solid;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .4);

  padding-bottom: 10px;
  box-sizing: border-box;
}

header #add-button {
  width: 45px;
  height: 30px;
  border-radius: 10px;

  background: var(--primary-color);
  border: 0;
  color: var(--white-color);
  transition: .3s;

  cursor: pointer;
}

header #add-button:hover {
  background: var(--secondary-color);
}

header #add-button:active {
  transform: scale(.95);
}

main {
  height: 100%;
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px 0;
  box-sizing: border-box;
}

main .todo-container {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.todo-container .todo-name-input {
  flex-grow: 1;
}

.todo-completed-checkbox {
  height: 30px;
  width: 30px;
  border-radius: 5px;

  border-width: 2px;
}

.todo-completed-checkbox:checked + .todo-name-input {
  text-decoration: line-through;
  opacity: .4;
}

.todo-name-input {
  background: transparent;
  border: none;
  border-bottom: 2px rgba(0, 0, 0, 0), solid;
  outline: 0;

  font-family: 'Open sans';
  font-size: 14px;
  transition: .2s;
}

.todo-name-input:focus {
  border-bottom: 2px var(--black-color) solid;
}

.todo-delete-button {
  width: 45px;
  height: 30px;
  border-radius: 10px;

  background: #d95841;
  border: 0;
  color: var(--white-color);
  transition: .3s;

  cursor: pointer;
}

.todo-delete-button:hover {
  background: #9c3e2d;
}

.todo-delete-button:active {
  transform: scale(.95);
}
